* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: rgba(0, 200, 255, 0.6);
    position: sticky;
    top: 0;
}

.navbar h1 {
    font-style: italic;
}

.nav-links a {
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    color: black;
}

.nav-links a:hover {
    color: red;
}

.section {
    padding: 80px 10%;
    text-align: center;
}

.section-title {
    margin-bottom: 40px;
    font-size: 28px;
}


.home {
    height: 90vh;
    background: url('img.jpg') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero h2 {
    font-size: 40px;
}

.hero p {
    margin: 15px 0;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: orange;
    cursor: pointer;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


.contact-form,
.login-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea,
.login-form input {
    padding: 10px;
}

.contact-form button,
.login-form button {
    padding: 10px;
    background: teal;
    color: white;
    border: none;
    cursor: pointer;
}


footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}
